@import 'normalize.css';

:root {
	--orange: #d2872c;
	--gray: #766f68;
}

.nav-item a {
	text-decoration: none;
	color: var(--gray);
	font-size: 20px;
	font-weight: 500;
}

a.navbar-brand {
	color: var(--orange);
}

.main-block {
	position: relative;
	height: 420px;
	top: 70px;
	border: 1px solid;
}

.text-block {
	z-index: 1;
}
.img-block img {
	position: relative;
	z-index: 0;
	top: 50px;
	width: 100%;
	height: 100%;
}

.create {
	font-size: 72px;
	z-index: 1;
	font-weight: bold;
	color: var(--gray);
}
.collaborate {
	font-size: 32px;
	z-index: 1;
	font-weight: 500;
	width: 40%;
	color: var(--gray);
}

.btn-start {
	background-color: var(--orange);
	padding: 10px 15px;
	font-size: 25px;
	color: white;
	width: 30%;
	text-align: center;
	border-radius: 15px;
}
